@font-face {
    font-family: robo;
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
  
}

html{
    font-family: robo;}

body {    
    margin: 0;
    padding: 0;
}




.job-details-data2{
    /* margin-left: 10%;
    margin-right: 10%; */
    width: 90%;
    margin-right: 10%;
    padding-bottom: 3%;
}


#Homepage{
    display: flex;
    left: 0;
    top: 0;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: flex-start;
}

 .banner1{
   background: url(/assets/images/combine_images_FirstPage_Header_v1.png);
   background-repeat: no-repeat;
   background-size: cover;
  padding-bottom: 10%;
  background-position-x: 0;
  background-position-y: 0;
   /*background-size: 100% 100%;
   height: 100%;
   width: 100%;
   z-index: -1;
   padding-bottom: 10%;
   top : 0;
   left : 0;
   right : 0;*/

 }

 #Homepage .banner2{
    background: url('/assets/images/banner-image-second-page.png');
    /*background-repeat: no-repeat; 
   background-size: 100% 110%;
   height: 75%;
   width: 100%;
   z-index: 5;
   top: 0; 
   left: 0; 
   right: 0; */
   background: url('/assets/images/banner-image-second-page.png');
   background-repeat: no-repeat; 
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;

 }

#Homepage .sec1{
    flex: 1 1 auto;
    order : 2;
    display: flex;
    flex-direction: row;
}

.sec1 .logo-container{
    flex: 1 1 auto;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.sec1 .logo-container2{
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
}

.logo-container .company-logo{
    margin-top: 8%;
    width: 174px;
    height: 38px;
    background: url(/assets/images/Layer1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.logo-container2 .company-logo{
    margin-left: 10%;
    margin-top: 4%;
    width: 174px;
    height: 38px;
    background: url(/assets/images/Layer1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container2 #job-info{
    flex: 1 1 auto;
    margin-left: 11%;
}

@media  (max-width: 400px) {
    #job-info {
      margin-left: 23.5%;
      padding-left: 0.1%;
    }
    .company-logo {
        margin-left: 22.5%;
        width: 17.84px;
        height: 16px;
      }
  }

  @media  (min-width: 1100px) {
    #job-info {
      margin-left: 16%;
    }
    .company-logo {
        margin-left: 15%;

      }
  }

.logo-container #innovate{
    padding-top: 2%; 
    flex: 1 1 auto;
    font-weight: 900;
    font-size: 48px;
    font-size: 4vw;
    line-height: 115%;
}

.logo-container #leap{
    font-weight: 400;
    font-size: 24px;
    font-size: 2vw;
    line-height: 175%;
    padding-top: 1%;
    padding-bottom: 3%;
}

#Homepage .sec2{
    flex: 1 1 auto;
    order : 3;
    margin-left: 10%;
}

.sec2 .a{
    margin-left: 0%;

}

#view_jobs_lnk{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 175%;
    /* identical to box height, or 42px */
    
    text-decoration-line: underline;
    font-variant: small-caps;
    
    color: #000000;
}

#shr_pg{
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 175%;
/* or 35px */

text-decoration-line: underline;
font-variant: small-caps;

color: #000000;
margin-left:60%;
}

#shr_pg_landing{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 175%;
/* or 28px */

text-decoration-line: underline;
font-variant: small-caps;

color: #FFFFFF;
margin-left:60%;
}

#Homepage .sec3{
    flex: 1 1 auto;
    order : 4;
    background: #F4F4F4;
    width: 100%;
    display: flex;
    padding-bottom: 2.5%;
    padding-top: 8%;
    /* justify-content: space-around; */
}

#Homepage #myFooterid{
    flex: 1 1 1.5%;
    order: 5;
    width: 100%;
    /* align-self: flex-end; */
}

#Homepage .footer-baground{
    background: url(/assets/images/pageFooter.png);
    flex: 1 1 1.5%;
    order: 5;
    width: 100%;

}

#job-lst-txt{
font-weight: 900;
font-size: 36px;
line-height: 175%;
/* or 63px */
color: #FDB724;
}

#job-lst-line{
    background: #FDB724;
    height: 7px;
     width: 90%;
    margin-right: 10%;

    
}

#job-lst-line-second-page{
    background: #FDB724;
    height: 7px;
    
}

#jobs-flex{

    display: flex;
    flex-direction: column;
}

.second-page-headline{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.75;
    padding-top: 5%;
}

#subscribe{
    margin-left: 10%;
    width: 90%; 
    margin-right: 10%;
}

#sub-text{
font-weight: 900;
font-size: 36px;
line-height: 115%;
/* or 41px */
color: #FDB724;

}

#subscribe > p {
    padding-top: 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 175%;
    /* or 42px */
    color: #000000;
    padding-bottom: 2%;
}

#get-notified{
    /* background: #C4C4C4;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    font-weight: 900;
font-size: 30px;
line-height: 112.5%;
/* or 34px */
/*color: #000000;
margin-bottom: 0.045%; */

background: #C4C4C4;
box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
font-weight: 900;
border: none;
font-size: 30px;
line-height: 1.125;
/* or 34px */
color: #000000;
margin-bottom: 10%;
width: 286px;
height: 64px;

}
/* .notified-block{
    /* display:inline-block; */
/* } */ 

.share-link-home{
    display: flex;
    justify-content: space-between;
}

 .image1{
    width: 24px;
    height: 26px;
    background: url(/assets/images/image1.png);
    filter: contrast(-100);
    margin-right:5%;
    margin-top: 0.5%;
  }

.image2{
    width: 24px;
    height: 24px;
    background: url(/assets/images/image2.png);
    background-repeat: no-repeat; 
    background-size:auto;
    margin-right:4%;
    margin-top: 0.5%;
  }


#btnApply{
/* font-weight: 900;
font-size: 30px;
line-height: 112.5%; */
/* or 34px */
/* color: #FFFFFF;
background: #FDB724;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
margin-bottom: 11%; */

font-weight: 900;
font-size: 30px;
line-height: 112.5%;
border: none;
background: none;
/* or 34px */
color: #FFFFFF;
background: #FDB724;
box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 11%;
height: 105px;
width: 352px;

}




.logo-container2 .job-title{
    line-height: 100%;
    padding-top: 1%;
    font-size: 4vw;

}

.logo-container2 .job-pointers{
   
    line-height: 15%;
    padding-top: 1%;
    padding-bottom: 5%;
}


#job-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    width: 90%;
    margin-bottom: 8%
}

.job-block{
    display: flex;
    align-items : center;
}
 
.job-block > div{
    width: 34px;
    height: 7px;
    vertical-align: middle;     
    background: #000000;
    padding:0%;
}
 
.job-block > a{
    padding-left: 10px;
    font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.75;
color: #000000;
padding-bottom: 0%;
text-decoration: none;
}

.job-details-data2 > p {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.75;
    font-style: normal;
    color: #000000;
}

.job-details-data2 > ul {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    font-style: normal;
    color: #000000;
    margin-left:-1%;
        list-style-type: disc;
}

.job-details-data2 > ul > ::marker {
    font: icon;
}
