@font-face {
    font-family: robo;
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
  
}

html{
    font-family: robo;
    font-style: Regular;
    color: #000000;
}

body {    
    margin: 0;
    padding: 0;
}




.job-details-data2{
    /* margin-left: 10%;
    margin-right: 10%; */
    word-wrap: break-word;
    width: 90%;
    margin-right: 10%;
}


#Homepage{
    display: flex;
    left: 0;
    top: 0;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: flex-start;
}

/* #Homepage .header-img{
     order : 1;
     z-index: 4;
     flex: 1 1 1.5%;
     align-self: flex-start;
 } */

 .banner1{
   background: url(/assets/images/combine_images_FirstPage_Header.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 100%;
   width: 100%;
   z-index: -1;
   padding-bottom: 10%;
   top : 0;
   left : 0;
   right : 0;

 }

 #Homepage .banner2{
    background: url('/assets/images/banner-image-second-page.png');
    background-repeat: no-repeat; 
   background-size: 100% 110%;
   height: 75%;
   width: 100%;
   z-index: 5;
   top: 0; 
   left: 0; 
   right: 0; 

 }

 #Homepage .myheaderid{
    background: url('/assets/images/assets_images_combined_image.png');
    background-repeat: no-repeat; 
   background-size: 100% 110%;
   z-index: 5;
   top: 0; 
   left: 0; 
   right: 0; 

 }


#Homepage .sec1{
    flex: 1 1 auto;
    order : 2;
    display: flex;
    flex-direction: row;
}

.sec1 .logo-container{
    flex: 1 1 auto;
    margin-left: 10%;
    /* flex-wrap: wrap; */
    margin-top: -40px;
    height: 65%;
    display: flex;
    flex-direction: column;
  


}

.sec1 .landing-img{
    flex: 1 1 auto;
    height: 100%;
    margin-left: -50px;
    /* background: url('/assets/images/Rectangle1.png'); */
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    /* top: 0; 
    left: 0; 
    right: 0;  */

}


.sec1 .logo-container2{
    flex: 1 1 auto;
    margin-left: -82.88px;
    margin-top: -23,36px;
    height: 87%;
    /* background: #F4F4F4; */
    /* transform: rotate(-3.71deg); */
    display:flex;
    flex-direction: column;
    z-index: 2;
}

.logo-container .company-logo{
    flex: 1 1 auto;
    /* margin-left: 222px; */

    margin-top: 8%;
    width: 174px;
    height: 38px;
    /* transform: rotate( 
3.71deg
 ); */
    background: url(/assets/images/Frame1.png);
    background-repeat: no-repeat;
    /* background-size: 175px 38px; */
    top: 0;
    left: 0;
    right: 0;
}


.logo-container2 .company-logo{
    flex: 1 1 auto;
    margin-left: 16%;
    margin-top: 31px;
    width: 174px;
    height: 38px;
    /* transform: rotate(3.71deg); */
}

.logo-container2 #job-info{
    flex: 1 1 auto;
    margin-left: 17%;
    Fill: Solid;
    /* transform: rotate(3.71deg); */
}

@media  (max-width: 400px) {
    #job-info {
      margin-left: 23.5%;
      padding-left: 0.1%;
    }
    #company-logo {
        margin-left: 22.5%;
        width: 17.84px;
        height: 16px;
      }
  }

  @media  (min-width: 1100px) {
    #job-info {
      margin-left: 16%;
    }
    #company-logo {
        margin-left: 15%;

      }
  }



.logo-container #innovate{
    padding-top: 2%; 
    flex: 1 1 auto;
    font-weight: bolder;
    /* margin-left: 220px; */
    font-size: 48px;
    font-size: 2vw;
    line-height: 115%;
    Fill: Solid rgba(0, 0, 0, 0.9);
    width: 35%;
}

.logo-container #leap{
    flex: 1 1 auto;
    font-weight: normal;
    /* margin-left: 220px; */
    font-size: 24px;
    font-size: 1vw;
    line-height: 175%;
    Fill: Solid
    #000000;

    padding-top: 2%;
    width: 25%;
}

#Homepage .sec2{
    flex: 1 1 auto;
    order : 3;
    margin-left: 10%;
}

.sec2 .a{
    margin-left: 0%;

}
#Homepage .sec3{
    flex: 1 1 auto;
    order : 4;
    background: #F4F4F4;
    width: 100%;
    display: flex;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    /* justify-content: space-around; */
}

#Homepage #myFooterid{
    flex: 1 1 1.5%;
    order: 5;
    width: 100%;
    /* align-self: flex-end; */
}

#Homepage .footer-baground{
    background: url(/assets/images/pageFooter.png);
    flex: 1 1 1.5%;
    order: 5;
    width: 100%;

}

#job-lst-txt{
font-weight: 900;
font-size: 36px;
line-height: 175%;
/* or 63px */
color: #FDB724;
}

#job-lst-line{
    background: #FDB724;
    height: 7px;
     width: 90%;
    margin-right: 10%;
    margin-top: 5%;

    
}

#job-lst-line-second-page{
    background: #FDB724;
    height: 7px;
    
}

#jobs-flex{

    display: flex;
    flex-direction: column;
}

.second-page-headline{
    font-weight: 900;
    font-size: 26px;
    padding-top: 1%;
}

#subscribe{
    margin-left: 10%;
    width: 90%; 
    margin-right: 10%;
}

#sub-text{
font-weight: 900;
font-size: 36px;
line-height: 115%;
/* or 41px */
color: #FDB724;
}

#get-notified{
    /* background: #C4C4C4;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    font-weight: 900;
font-size: 30px;
line-height: 112.5%;
/* or 34px */
/*color: #000000;
margin-bottom: 0.045%; */

background: #C4C4C4;
box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
font-weight: 900;
border: none;
font-size: 30px;
line-height: 1.125;
/* or 34px */
color: #000000;
margin-bottom: 10%;
width: 286px;
height: 64px;

}
/* .notified-block{
    /* display:inline-block; */
/* } */ 

.share-link-home{
    display: flex;
    justify-content: space-between;
}



#btnApply{
/* font-weight: 900;
font-size: 30px;
line-height: 112.5%; */
/* or 34px */
/* color: #FFFFFF;
background: #FDB724;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
margin-bottom: 11%; */


font-weight: 900;
font-size: 30px;
line-height: 112.5%;
border: none;
background: none;
/* or 34px */
color: #FFFFFF;
background: #FDB724;
box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 11%;
height: 105px;
width: 352px;

}




.logo-container2 .job-title{
    line-height: 100%;
    padding-top: 1%;
    font-size: 2.8vw;

}

.logo-container2 .job-pointers{
   
    line-height: 25%;
    padding-top: 1%;
    padding-bottom: 3%;
}


#job-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    width: 90%;
}

.job-block{
    display: flex;
    align-items : center;
}
 
.job-block > div{
    width: 34px;
    height: 7px;
    vertical-align: middle;     
    background: #000000;
}
 
.job-block > a{
    padding-left: 10px;
    font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.75;
color: #000000;
}
