<!DOCTYPE html>
<html>
    <head>
        
        <title>Jobs : {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
        {% assign mycss = "/assets/css/main.css" %}
        <link rel="stylesheet" href= "{{ mycss | relative_url }}">
    </head>
    <div id = "Homepage">
        
        <div class="banner2">
                <section class="sec1">
                    <div class = "logo-container2">
                        {% assign myLogo = "/assets/images/Frame1.png" %}
                        <img class = "company-logo" src="{{ myLogo | relative-url }}">
                        
                        <dl id="job-info">
                            <div class="job-title">
                                <strong style="font-size: 3.8vw">{{ page.title   }}</strong>  
                            </div>
                            <div class="job-pointers">
                                <p style="font-size: 2vw"><b>Keywords:</b> {{ page.Keywords  }}</p>
                                <p style="font-size: 2vw"><b>Location:</b> {{ page.location  }}</p>
                                <p style="font-size: 2vw"><b>Seniority:</b> {{  page.Seniority  }}</p>
                            </div>
                        </dl>
                    </div>
                    <!-- <div class = "landing-img-flex">
                        {% assign myImg2 = "/assets/images/Rectangle33.png" %}
                        <img class = "landing-img" src="{{ myImg2 | relative-url }}">
                    </div> -->
                </section>    
                
            </div>

            
        <section class="sec2">
        <a href="/">View all jobs</a>
            <div  class="job-details-data">
                <!-- <h1>{{ page.title }}</h1> -->

                <article class="uk-article">
                    <div  class="job-details-data2">
                        {{ content }}
                    </div>
                </article>
            </div>
            <button id= "btnApply" onclick="window.location.href='https://forms.office.com/r/QSCWNvEukh'">APPLY NOW</button>
        </section>

        <section class="sec3">
            <div id="subscribe">
                <span id = "sub-text">Subscribe to get alerts</span>
                <p>No job listed above for you? You can create a job alert and we will send you an e-mail when a position you are interested becomes available.</p>
                <button id="get-notified" onclick="window.location.href='https://forms.office.com/r/QSCWNvEukh'">Get notified</button>    
            </div>
        </section>
        <div class="footer-baground">
        </div>
    </div>
</html>
