<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');
            </style>
        <title>Jobs : {{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/assets/images/fevicon.png"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" /> -->
        {% assign mycss = "/assets/css/main.css" %}
        <link rel="stylesheet" href= "{{ mycss | relative_url }}">
    </head>
    <div id = "Homepage">
        
        <div class="banner2">
                <section class="sec1">
                    <div class = "logo-container2">
                        <div class = "company-logo"></div>
                        
                        <dl id="job-info">
                            <div class="job-title">
                                <strong style="font-size: 4vmax">{{ page.title   }}</strong>  
                            </div>
                            <div class="job-pointers">
                                <p style="font-size: 2vmax"><b>Seniority:</b> {{  page.Seniority  }}</p>
                                <br>
                                <p style="font-size: 2vmax"><b>Keywords:</b> {{ page.Keywords  }}</p>
                                <br>
                                <p style="font-size: 2vmax"><b>Location:</b> {{ page.location  }}</p>
                            </div>
                        </dl>
                    </div>
                    <!-- <div class = "landing-img-flex">
                        {% assign myImg2 = "/assets/images/Rectangle33.png" %}
                        <img class = "landing-img" src="{{ myImg2 | relative-url }}">
                    </div> -->
                </section>    
                
            </div>

            
        <section class="sec2">
            <div class="row1-default">
                <a id="view_jobs_lnk" href="/">VIEW ALL JOBS</a>
                <div class= "share-link-home">
                    <a id="shr_pg" href="#" >SHARE THIS PAGE</a>
                    <div class="image1" ></div> 
                </div>
            </div>
            <article class="uk-article">
                <div  class="job-details-data2">
                    {{ content }}
                </div>
            </article>
            <button id= "btnApply" onclick="window.location.href='https://forms.office.com/r/QSCWNvEukh'">APPLY NOW</button>
        </section>

        <section class="sec3">
            <div id="subscribe">
              <span id="sub-text">Subscribe to get alerts</span>
              <p>No job listed above for you? You can create a job alert and we will send you an e-mail when a position you are interested becomes available.</p>
                    <div class="notified-block-container">       
                      <!-- <div class="notified-block"> -->
                        <button id="get-notified" onclick="window.location.href='https://forms.office.com/r/QSCWNvEukh'">Get notified</button>
                  <!-- </div>                       -->
                              <div class= "share-link-home">
                                  <a id="shr_pg" href="#" >SHARE THIS PAGE</a>
                                  <span class="image1" ></span> 
                              </div>
                              
                    </div>
            </div>
          </section>
        <div class="footer-baground">&nbsp;</div>
    </div>
</html>
